PORT=3000
MONGO_URI=mongodb://localhost:27017/journal_io

JWT_ACCESS_SECRET=replace_me
JWT_ACCESS_EXPIRES_IN=14d
JWT_REFRESH_EXPIRES_IN=7d
AUTH_OTP_EXPIRES_IN=10m

MSG91_AUTH_KEY=replace_me
MSG91_TEMPLATE_ID=replace_me
MSG91_OTP_API_URL=https://control.msg91.com/api/v5/otp

GOOGLE_WEB_CLIENT_ID= abcd
GOOGLE_IOS_CLIENT_ID= abcd
GOOGLE_WEB_CLIENT_SECRET= abcd
